.backLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--fg-primary-color);
}

.backLink:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 4rem;
  box-shadow: 2px 2px 5px 5px #0004;
}

.containerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
  margin: 1rem;
  background-color: #fff;
}

.image {
  min-width: 230px;
  min-height: 300px;
  max-height: 350px;
  padding: 0.5rem;
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: var(--fg-primary-color);
}

.btnAdd {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--bg-primary);
  background-color: var(--fg-primary-color);
  border: none;
  cursor: pointer;
}

.btnAdd:hover {
  opacity: 0.8;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .containerRight {
    width: 50%;
  }

  .containerLeft {
    width: 50%;
  }

  .image {
    max-height: 400px;
  }
}
