.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 2rem 0;
}

.title {
  font-size: 1.5rem;
  color: var(--fg-primary-color);
}

.featured {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.link {
  align-self: center;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--bg-primary);
  background-color: var(--fg-primary-color);
  border: none;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}
