.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.container svg {
  color: var(--fg-primary-color);
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
