.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 70px;
  height: auto;
}

.title {
  display: none;
  color: var(--fg-secondary-color);
}
@media screen and (min-width: 600px) {
  .title {
    display: inline;
  }
}
